body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

#job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#job-list > div{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}